<li id="post-<%= post.id %>" class="border-bottom border-secondary">
  <div class="post-section d-flex mt-4">
    <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpeg", size:'50x50', class: "rounded-circle" %>
    <div class="content ml-2">
      <span class="user-name mr-3"><%= link_to post.user.name, user_path(post.user) %></span>
      <span class="timestamp text-secondary">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </span class="ml-3">
      <% if current_user == post.user %>
        <span><%= link_to "削除", post_path(post), method: :delete %></span>
      <% end %>
      <%= link_to post_path(post) do %>
          <p class="post pt-2 ml-2 mb-0 text-dark"><%= post.content %></p>
      <% end %>
    </div>
  </div>
  <div class="about text-right mr-5">
    <span class="mr-2"><%= link_to "#{post.post_comments.count}コメント", post_path(post) %></span>
      <span id="favorites_<%= post.id %>">
        <%= render partial: "public/favorites/favorite", locals:{ post: post} %>
      </span>
  </div>
</li>