<li id="post-<%= post.id %>" class="border-bottom border-secondary background-hover mb-0">
  <div class="post-section d-flex pt-3">
    <%= link_to user_path(post.user) do %>
      <%= attachment_image_tag post.user, :image, :fill, 50, 50, format: 'jpg', fallback: "no_image.jpg", size:'50x50', class: "rounded-circle" %>
    <% end %>
    <div class="content ml-2">
      <span class="user-name mr-3"><%= link_to post.user.name, user_path(post.user) %></span>
      <span class="timestamp text-muted">
        <%= time_ago_in_words(post.created_at) %>前
      </span class="ml-3">
      <% if current_user == post.user %>
        <span class="post-delete ml-3"><%= link_to "削除", post_path(post), method: :delete, data: {confirm: "本当に削除しますか？"} %></span>
      <% end %>
      <%= link_to post_path(post), class: "text-dark" do %>
          <div><p class="post pt-2 ml-2 mb-0 text-dark text-break"><%= show_contents_with_uri(post.content).html_safe %></p></div>
      <% end %>
    </div>
  </div>
  <div class="about text-right mr-5">
    <span class="mr-2">
      <%= link_to post_path(post), class: "hover-grean" do %>
        <i class="far fa-comment mr-2"><%= post.post_comments_count %></i>
      <% end %>
    </span>
    <span class="mr-2" id="reposts_<%= post.id %>">
      <%= render partial: "public/reposts/repost", locals:{ post: post} %>
    </span>
    <span id="favorites_<%= post.id %>">
      <%= render partial: "public/favorites/favorite", locals:{ post: post} %>
    </span>
  </div>
</li>