<div class="row">
  <div class="col-lg-4 ml-2 mt-5">
      <div class="userーimage d-flex align-items-center">
        <%= link_to user_path(@user) do%>
        <%= attachment_image_tag @user, :image, :fill, 80, 80, format: 'jpg', fallback: "no_image.jpg", size:'80x80', class: "rounded-circle" %>
        <% end %>
        <%= link_to user_path(@user) do%>
        <span ><h5 class="mx-3"><%= @user.name %></h5></span>
        <% end %>
        <div id="follow_<%= @user.id %>">
          <%= render partial: "public/relationships/relationship", locals:{ user: @user} %>
        </div>
      </div>
  </div>

  <div class="col-lg-7 mt-5">
    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="post-show border-bottom border-secondary">
      <% text = safe_join(@post.content.split("\n"),tag(:br)) %>
      <li><h5 class="content"><%= convert_url_into_a_tag(text).html_safe %></li>
      <li><p class="timestamp text-secondary text-right"><%= time_ago_in_words(@post.created_at) %>前</p></li>
      <% if current_user == @post.user %>
        <span class="post-delete ml-3"><%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"} %></span>
      <% end %>
    </div>
    <div class="about border-bottom border-secondary pb-2 mb-2 mt-2">
      <span id="comments-count"><%= @post_comment_count %>件のコメント</span>
      <%= link_to "いいねしたユーザー", favorited_post_path(@post), remote: true, class: "mx-2" %>
      <span id="favorites_<%= @post.id %>">
       <%= render partial: "public/favorites/favorite", locals:{ post: @post} %>
      </span>
     </div>
    <p class="text-center">コメント一覧</p>
     <div class="scroll-list jscroll" id="post-comments">
      <%= render @post_comments %>
      <%= paginate @post_comments %>
    </div>
    <div class="new-comments my-3">
      <div id="comment_flash"></div>
      <%= form_with(model:[@post, @post_comment]) do |f| %>
        <%= f.text_area :comment, :size=>"40x5", class: "form-control w-100", placeholder: "コメントする" %>
        <%= f.submit "コメント", class: "btn btn-cool-blues btn-rounded d-block ml-auto mt-3" %>
      <% end %>
    </div>
  </div>
</div>