<div class="row mx-0">
  <div class="col-12">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="introduction">
      <h3 class="text-center pt-3">~ エンジニアになるまで ~</h3>
      <p class="w-75 mx-auto">エンジニア初学者に向けたサイトです。<br />
         オンライン上で様々な未経験エンジニアの方々と繋がれるコミュニティ
         として本サイトが使われることを願います。 <br />
      </p>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-12">
    <div class="d-flex-lg">
      <div id="login" class="pt-3 px-3 border">
        <%= render "devise/sessions/new" %>
     </div>
        <div class="back-color"></div>
    </div>

    <div id="sign-up" class="">
    <%= render "devise/registrations/new" %>
    </div>
  </div>
</div>

<div class="row mx-0">
    <div class="container">
      <div class="col-12">
    <div class="border p-3">
      <h4 class="text-info border-bottom pb-2">~weekly post~</h4>
      <% @posts.each do |post| %>
      <div class="background-hover">
        <div class="post-section d-flex">
          <%= attachment_image_tag post.user, :image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
          <span class="text-primary"><%= post.user.name %></span>
        </div>
          <p class="text-break"><%= show_contents_with_uri(post.content).html_safe %></p>
      </div>
      <% end %>
    </div>
    <p class="mt-2">ログインするとポストの投稿やコメント、ユーザーとのチャットの機能を使うことができます。</br>
       興味がありましたら、ぜひ新規登録をお願いします。
    </p>
    </div>
  </div>
</div>