<div class="container top-page">
  <div class="row">
      <% if user_signed_in? %>
        <%= form_with(model: @post, local: true) do |f| %>
          <!--</%= render 'shared/error_messages', object: f.object %>-->
          <div class="field">
            <%= f.text_area :content, placeholder: "コメントを投稿" %>
          </div>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
      <% else %>
    <div class="col-lg-4 ml-5 mt-5">
      <h3>-エンジニアになるまで-</h3>
      <div>
      </div>
    </div>

    <div class="col-lg7 offset-1 mt-4">
      <div crass="row" id="login">
        <%= render "devise/sessions/new" %>
      </div>
      <div crass="row" id="sign-up">
        <%= render "devise/registrations/new" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
