<div class="top-page">
  <div class="row  mt-3">
    <% if user_signed_in? %>
      <div class="col-lg-4">
        <div crass="user_info", style="margin-bottom: 20px;" >
          <%= link_to user_path(current_user) do %>
            <%= attachment_image_tag current_user, :image, :fill, 60, 60, format: 'jpg', fallback: "no_image.jpg", size:'60x60', class: "rounded-circle" %>
            <%= current_user.name %>
          <% end %>
        </div>
        <div crass="post mt-4">
          <%= form_with(model: @post, local: true) do |f| %>
            <!--</%= render 'shared/error_messages', object: f.object %>-->
            <div class="field">
              <%= f.text_area :content, :size=>"30x4", placeholder: "ポストを投稿" %>
            </div>
            <%= f.submit "Post", class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-7 offset-1">
        <ol class="posts scroll-list jscroll">
          <%= render @posts %>
          <%= paginate @posts %>
        </ol>
      </div>

    <% else %>
      <%= render "not_loged_in_top" %>
    <% end %>
  </div>
</div>
