<div class="container-fluid mb-3">

  <div class="row pb-3 mt-3 border-bottom">
    <div class="col-md-5">
      <img src="<%= @site.image_id %>" alt="画像がありません" class="site-show-image rounded w-90">
    </div>
    <div class="col-md-7">
      <a href="<%= @site.url %>" target="_blank" rel="noopener noreferrer">
        <h5 class="card-title"><%= @site.title %></h5>
      </a>
      <p>
        <% if @site.description.present? %>
          <%= @site.description%>
        <% else %>
          No Description
        <% end %>
      </p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="col-12 mx-auto">
      <div class="note border rounded py-2 px-2">
        <div class="d-flex note-link pr-3">
          <h4 class="fw-bold" style="font-family: sans-serif;">ー Note ー</h4>
        </div>
        <% if @site.note.present? %>
          <%= markdown(@site.note) %>
        <% else %>
          <h3>No Contents</h3>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text-right">
    <%= link_to "編集", edit_site_path, "data-turbolinks": false, class: "btn btn-outline-info mr-2" %>
    <%= link_to "削除", site_path(@site), method: :delete, class: "btn btn-outline-danger mr-3", data: {confirm: "本当に削除しますか？"} %>
  </div>
</div>
