<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row mb-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>
    
  <div class="field row mb-2">
    <!--</% if @minimum_password_length %>-->
    <!--<em>(</%= @minimum_password_length %> characters minimum)</em>-->
    <!--</% end %><br />-->
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</%= render "devise/shared/links" %>
