<div class="row mt-3">
  <div class="col-lg-8 mx-auto">
    <section class="user_info">
      <%= link_to admin_user_path(@user) do %>
      <h4>
      <%= attachment_image_tag @user, :image, :fill, 70, 70, format: 'jpg', fallback: "no_image.jpg", size:'70x70', class: "rounded-circle"%>
      <%= @user.name %>
      <% end %>
      </h4>
    </section>
    <div class="post-show border-bottom border-secondary">
      <% text = safe_join(@post_comment.comment.split("\n"),tag(:br)) %>
      <li><h5 class="content ml-5"><%= convert_url_into_a_tag(text).html_safe %></li>
      <li><p class="timestamp text-secondary text-right"><%= time_ago_in_words(@post_comment.created_at) %>前</p></li>
        <span class="post-delete ml-3"><%= link_to "削除", admin_post_comment_path(@post_comment), method: :delete, data: {confirm: "本当に削除しますか？"} %></span>
    </div>

    <h4 class="text-center mt-2" style="font-family: Hiragino Maru Gothic Pro">リプライ</h4>
    <ol class="scroll-list jscroll">
      <%= render @comments %>
    <%= paginate @comments %>
    </ol>
  </div>
</div>