<div class="row">
  <div class="col-11 mx-auto">
    <div class="page-header mt-3">
      <h1>お問い合わせ</h1>
    </div>
    
    <%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
      <table class="table">
        <tr>
          <th>名前</th>
          <td>
            <%= f.hidden_field :name %>
            <%= @inquiry.name %>
          </td>
        </tr>
        <tr  class="border-bottom border-secondary">
          <th>メールアドレス</th>
          <td>
            <%= f.hidden_field :email %>
            <%= @inquiry.email %>
          </td>
        </tr>
      </table>
    
      <p>お問い合わせ内容</p>
        <%= f.hidden_field :message %>
        <div class="border px-3" style="min-height: 100px"><p><%=safe_join(@inquiry.message.split("\n"),tag(:br)) %></p></div>
      <div class="mt-3">
        <%= f.submit '送信', class: 'btn btn-primary mr-3' %>
        <%= f.submit "訂正する", formaction: inquiry_path, method: :get, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>