<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-10 mx-auto mt-2 mb-3">
  <div class="form-inline border border-secondary rounded pt-2 px-2">
    <div class="w-100">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= attachment_image_tag visitor, :image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
        <%= visitor.name %>
      <% end %>
      <span>さんが</span>
    </span>

    <% case notification.action %>
      <% when "follow" then %>
        あなたをフォローしました
      <% when "favorite" then %>
        <%= link_to "あなたの投稿", post_path(notification.post), style: "font-weight: bold;" %>
        <span>にいいねしました</span>
        <%= render "post_content", { notification: notification } %>
      <% when "repost" then %>
        <%= link_to "あなたの投稿", post_path(notification.post), style: "font-weight: bold;" %>
        <span>をリポストしました</span>
        <%= render "post_content", { notification: notification } %>
      <% when "comment" then %>
        <% if notification.post_comment.parent_id.present? %>
        <% parent_comment = PostComment.find_by(id: notification.post_comment.parent_id)
           comment_user = User.find_by(id: parent_comment.user_id) %>
          <%= link_to user_path(comment_user) do %>
          <%= attachment_image_tag comment_user, :image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
          <%= comment_user.name %>
          <%end %>
            <span>さんのコメントにリプライしました</span>
            <div><p class="text-muted mb-1"><%= notification.post_comment.comment %></p></div>
            <%= link_to post_path(notification.post) do %>
              <div class="border text-muted p-1 ml-1 text-break">
                コメント内容: <%= parent_comment.comment %>
              </div>
            <% end %>
        <% else %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to "あなたの投稿", post_path(notification.post), style: "font-weight: bold;" %>
          <% else %>
            <%= link_to user_path(notification.post.user) do %>
              <%= attachment_image_tag notification.post.user, :image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40', class: "rounded-circle" %>
              <%= notification.post.user.name %><% end %>さんの投稿
          <% end %>
            <span>にコメントしました</span>
            <div><p class="text-muted mb-1 text-break"><%= notification.post_comment.comment %></p></div>
            <%= render "post_content", { notification: notification } %>
        <% end %>
    <% end %>
          </div>
      <div class="ml-auto d-flex" style="height: 25px">
        <%= link_to "削除", notification_path(notification.id), method: :delete, class: "mr-3 text-danger" %>
        <p class="small text-muted mt-1"><%= time_ago_in_words(notification.created_at).upcase %></p>
      </div>
  </div>
</div>