<div class="container mt-3">
  <div class="row">

    <div class="col-md-8 offset-2">
      <%= form_with(model: current_user, local: true) do |f| %>
        <!--</%= render 'shared/error_messages', object: f.object %>-->
        <%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpeg", size:'100x100' %>
        <%= f.attachment_field :image, class: "mb-3" %> </br>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

      <% end %>
    </div>

  </div>
</div>