<div class="row mt-3">
  <div class="col-lg-5">
    <div id="user-fixed">
      <div class="userーimage d-flex align-items-center">
        <%= attachment_image_tag @user, :image, :fill, 80, 80, format: 'jpg', fallback: "no_image.jpg", size:'80x80', class: "rounded-circle" %>
        <span class="mx-3"><h5><%= @user.name %></h5></span>
        <div id="follow_<%= @user.id %>">
          <%= render partial: "public/relationships/relationship", locals:{ user: @user} %>
        </div>
      </div>
      <div class="introduction">
        <% if @user.introduction.present? %>
          <% text = safe_join(@user.introduction.split("\n"),tag(:br)) %>
          <%= convert_url_into_a_tag(text).html_safe %>
        <% end %>
      </div>
      <div class="my-2 border-bottom border-secondary">
        <%= link_to "ポスト", user_path(@user), class: "mr-1" %>
        <%= link_to "いいね", favorites_user_path(@user), class: "mr-2" %>
        <span id="following-count"><%= @user.following.count %> </span>
        <%= link_to "フォロー中", following_user_path(@user), class: "mr-3" %>
        <span id="following-count"><%= @user.followers.count %> </span>
        <%= link_to "フォロワー", followers_user_path(@user) %>
      </div>
      <% if current_user == @user %>
        <div class="edit mt-3">
          <%= link_to edit_user_path(current_user) do %>
            <buttun class="btn btn-outline-info mr-3">編集する</buttun>
          <% end %>
          <%= link_to user_confirm_path do %>
            <buttun class="btn btn-outline-danger">退会する</buttun>
          <% end %>
        </div>
      <% else %>
        <%= link_to 'chatを始める', rooms_path(user_id: @user), method: :post %>
      <% end %>
    </div>
  </div>


  <div class="col-lg-7" id="user-detail">
    <div class="scroll-list jscroll" id="user-about">
      <% unless @favorites_posts == true %>
        <%= render "public/posts/post_with_reposts" %>
      <% else %>
        <% render @posts %>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>