<div class="row mt-2">
  <div class="col-11 mx-auto">
    <div class="user_info d-flex align-items-center mt-4">
      <%= attachment_image_tag @user, :image, :fill, 60, 60, format: 'jpg', fallback: "no_image.jpg", size:'60x60', class: "rounded-circle" %>
      <div class="ml-3"><h5 class="text-dark" style="font-family: Hiragino Maru Gothic Pro"><%= @user.name %>さんのサイト</h5></div>
    </div>

    <div class="text-right w-100 mb-3">
      <%= link_to "投稿画面へ", new_site_path, "data-turbolinks": false, class: "btn btn-outline-primary mr-3" %>
    </div>

    <div class="ml-auto">
      <%= render "shared/search_form" %>
    </div>
      
  </div>
</div>

  <ol class="scroll-list jscroll mx-3">
    <div class="d-flex flex-wrap mb-5">
      <%= render @sites %>
      <%= paginate @sites %>
    </div>
  </ol>
